{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Register</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Please enter your details to create an account</p>
                </div>
            </div>
        </header>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <center>
                    
                <div class="col-md-6 offset-md-3">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}

                    <!-- Render the form fields -->
                    {{ form.as_p }}
                    <br>
                    <br>
                    <button type="submit" class="btn btn-secondary mt-3  " >Register</button>
                </form>
                </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </center>
            </div>
{% endblock %}